.wellcome-heading > p {
  color: #fff;
}

.wellcome-heading > h3 {
  font-size: 332px;
  position: absolute;
  top: -134px;
  font-weight: 900;
  left: -12px;
  /*z-index: -1;*/
  color: #fff;
  opacity: 0.13;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
}

.wellcome-heading {
  margin-bottom: 100px;
}

.wellcome-heading > h2 {
  font-size: 100px;
  color: #ffffff;
  font-weight: 700;
  position: relative;
  z-index: 3;
}